<section id="about" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi, I'm Jess.</h2>
                <div class="main-text">
                    <p>
                        "I'm always looking for ways to make things cleaner, more beautiful, and more efficient, because I'm fascinated by the connections between people and machines. I’m looking for opportunities to build powerful tech that changes things forward.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
