<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="section-heading">Hi, I'm Jess.</div>
                <div class="main-text">
                    <p>As a full stack developer, I'm always looking for ways to make things cleaner, more beautiful, and more efficient, because I'm fascinated by the connections between people and machines.</p>
                </div>
            </div>
        </div>
        <!--<div class="overlay">
            <img class="img-circle img-responsive" src="/img/front/profile.jpg">
        </div>-->
    </div>
</section>
<!-- I’m looking for opportunities to build powerful tech that changes things forward. -->