<section id="about" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <div class="main-text">
                    <p>Hi, I'm Jess. I like making things cleaner, more beautiful, and more efficient. I'm inspired by the connection between people and machines. I’m looking for opportunities to build disruptive tech that change things forward.</p>
                </div>
            </div>
        </div>
    </div>
</section>
