<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
            </div>
        <div class="social">
            <div class="col-lg-3 text-center social-buttons-lg">
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-3x"></i></a>
            </div>
            <div class="col-lg-3 text-center social-buttons-lg">
                <a href="{{ site.github }}"><i class="fa fa-github fa-3x"></i></a>
            </div>
            <div class="col-lg-3 text-center social-buttons-lg">
                <a href="{{ site.linkedin }}"><i class="fa fa-linkedin fa-3x"></i></a>
            </div>
            <div class="col-lg-3 text-center social-buttons-lg">
                <a href="{{ site.stack-overflow }}"><i class="fa fa-stack-overflow fa-3x"></i></a>
            </div>
        </div>
    </div>
</section>
