<!-- Posts List Section -->
<section id="blog">
  <div class="posts">
    <h2 class="section-heading">Posts</h2>
    {% for post in site.posts %}
    <div class="post-teaser">
      <div class="posts-header">
        <h4 class="posts-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
        <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
      </div>
      <div class="excerpt">
        {{ post.excerpt }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
