<!-- Tech Section -->
    <section id="technologies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technologies</h2>
                    <h3 class="section-subheading text-muted">I'm familiar with these technologies and frameworks.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-angularjs-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AngularJS</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-amazonwebservices-original fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AWS</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-bootstrap-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bootstrap</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-css3-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CSS-3</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-express-original fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Express</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-grunt-line fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Grunt</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-gulp-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gulp</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-heroku-original fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Heroku</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-html5-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HTML-5</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-javascript-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Javascript</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-jquery-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">JQuery</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-mongodb-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">MongoDB</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-nodejs-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">NodeJS</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-python-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Python</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-rails-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Rails</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-react-original fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">React</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-ruby-plain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ruby</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="devicon-sass-original fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sass</h4>
                </div>

            </div>
        </div>
    </section>