/* Variables */

$primary: #fed136;
$secondary: #fec503;  
$primary-dark: darken($primary, 20%);
$secondary-dark: #333;
$muted: #777;
$aqua: #05b9d2;

$font-family-primary: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-secondary: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-cursive: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;