/* About */

#about {
    padding-top: 3%;
}

#about .section-heading {
    font-family: $font-family-cursive;
    font-size: 4rem;
}

#about .main-text {
    padding-top: 2%;
}

#about .main-text p {
    font-family: serif;
    font-size: 2.4rem;
    line-height: 1.2;
}

/*
#about .overlay img {
    position: absolute;
    left: 5%;
    z-index: 1000;
    width: 350px;
    margin-top: -5%;
}
*/

@media (min-width: 768px) {
    #about {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}