/* About */

#about {
    padding-top: 3%;
}

#about .section-heading {
    font-family: $font-family-cursive;
    font-size: 4rem;
}

#about .main-text {
    padding-top: 2%;
}

#about .main-text p {
    font-family: serif;
    font-size: 2.4rem;
    line-height: 1.2;
}

@media (min-width: 768px) {
    #about {
        padding-top: 60px;
    }
}