/* Front Header */

.header-front {
    background-image: url('/img/front/pencils-narrow-posterize-2.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    -o-background-size: 100% auto; 
    margin-top: 60px;
}

.header-front:before {
	content: '';
	display: block;
	padding-top: 80%; 	/* for mobile ratio of 1003:756 */
}

.header-front .header-padding {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@media(min-width:768px) {
    .header-front {
        background-image: url('/img/front/pencils-laptop-posterize-7.png');
        margin-top: 0px;
    }
    
    .header-front:before {
    	padding-top: 32%; 	/* for non-mobile ratio of thin at 2000:641 needs 32% ... while thinner at 1997:573 needs 28% */
    }
}
