/* Header */

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('/img/front/pencils-laptop-narrow.png');
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    -o-background-size: 100% auto; 
    margin-top: 25px;
}

header .intro-text {
    padding-top: 75px;
    padding-bottom: 30px;
}

header .intro-text .intro-lead-in {
/*  margin-bottom: 25px; */
    font-family: $font-family-secondary;
    font-size: 3rem;
    font-style: italic;
    line-height: 3rem;
}

header .intro-text .intro-heading {
    margin-bottom: 2%;
    text-transform: uppercase;
    font-family: $font-family-primary;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
}

@media(min-width:768px) {
    header {
        background-image: url('/img/front/pencils-laptop-sm.png');
        margin-top: 0px;
    }
    
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 80px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: $font-family-secondary;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: $font-family-primary;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}
