/* Header */

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('/img/front/pencils-laptop-narrow.png');
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    -o-background-size: 100% auto; 
    margin-top: 25px;
}

header .intro-text {
    padding-top: 75px;
    padding-bottom: 30px;
}

header .intro-text .intro-lead-in {
    visibility: hidden;
    font-family: $font-family-secondary;
    font-size: 3rem;
    font-style: italic;
    line-height: 3rem;
}

header .intro-text .intro-heading {
    visibility: hidden;
    text-transform: uppercase;
    font-family: $font-family-primary;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 2%;
}

@media(min-width:768px) {
    header {
        background-image: url('/img/front/pencils-laptop-thinner.png');
        height: 350px;
        margin-top: 0px;
    }
    
    header .intro-text {
        margin-top: 300px;
    }

    header .intro-text .intro-lead-in {
        visibility: hidden;
        text-align: right;
        margin-bottom: 25px;
        font-family: $font-family-secondary;
        font-size: 4rem;
        font-style: italic;
    }

    header .intro-text .intro-heading {
        visibility: hidden;
        text-align: right;
        margin-bottom: 50px;
        font-family: $font-family-primary;
        font-size: 3rem;
        font-weight: 700;
    }
}
