/* Posts */

#blog {
/*  background-image: url("/img/front/writing-2-center.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40%;  */
    padding: 5%;
    padding-top: 1%;
}

.posts .section-heading {
    font-size: 4rem;
    text-align: center;
}

.posts a:hover {
    text-decoration: none;
    color: $primary-dark;
}

.posts .post-teaser {
    display: inline-block;
    width: 100%;
    padding: 15px 20%;
    margin: 0;
}

.posts .posts-title {
    color: $primary;
    font-size: 2.5rem;
    text-align: center;
}

.posts .meta {
    color: $primary-dark;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
}

.posts .excerpt p {
    font-size: 1.9rem;
    margin-top: 1em;
}

@media (min-width: 768px) {
   #blog {
        /* background-position: right top; */
    }
}