/* Tech */

#tech {
    padding-top: 3%;
    padding-bottom: 4%;
}

#tech .section-subheading {
    padding-bottom: 0;
}

#tech .icon-aqua {
    color: $aqua;
}

.tech-icon:hover .icon-aqua {
    color: $primary;
}

/* add tech modal */
