/* Post Page */

.post header {
    padding: 1%;
    margin-top: 50px;
    border-radius: 5px;
    min-height: 200px;
}

.post .section-heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 10px;
}

.post .meta {
    color: $primary-dark;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

.post .content {
    padding: 5%;
    font-size: 3rem;
    font-family: $font-family-secondary;
    color: $secondary-dark;
}

.post p {
    font-size: 2rem;
}

.post a {
    color: $primary;
}

.post a:hover {
    text-decoration: none;
    color: $primary-dark;
}

@media (min-width: 768px) {
    .post header {
        background-image: url("/img/posts/post-header-sm.png");
        height: 200px;
        border-radius: 5px;
        margin: 5% 10%;
        margin-bottom: 3%;
    }
    
    .post .section-heading {
        padding-top: 40px;
    }
    
    .post .meta {
        padding-bottom: 40px;
    }
    
    .post .content {
        padding: 0% 10%;
    }
    
    .post p {
        font-size: 1.8rem;
        font-weight: normal;
    }
}