/* Modified Navbar for Ordinary Pages */

.small-navbar.navbar-default .navbar-brand:hover,
.small-navbar.navbar-default .navbar-brand:focus,
.small-navbar.navbar-default .navbar-brand:active,
.small-navbar.navbar-default .navbar-brand.active {
    border-radius: 5px;
    color: #fff;
    background-color: $primary;
}

.small-navbar.navbar-default .nav li a:hover,
.small-navbar.navbar-default .nav li a:focus {
    border-radius: 3px;
    color: #fff;
    background-color: $primary;
}

@media(min-width:768px) {
    .small-navbar.navbar-default {
        padding: 15px 0;
        background: #222;
    }
}
